# ==========================================
# Pokémon Red AI — Reinforcement Learning
# Adaptado do PokemonRedExperiments V2
# ==========================================

# Emulador
pyboy>=2.7.0
pillow>=12.0.0

# RL Framework
stable-baselines3>=2.7.0
gymnasium>=1.2.0

# Machine Learning
torch>=2.0.0
numpy>=2.0.0

# Logging
tensorboard>=2.0.0
tqdm>=4.60.0
