# ==========================================
# Pokémon Red AI — Reinforcement Learning
# ==========================================
# Core
pyboy==2.7.0
numpy==2.4.3
pillow==12.1.1

# RL Framework
stable-baselines3[extra]
gymnasium

# PyBoy dependencies (instaladas automaticamente)
PySDL2==0.9.17
pysdl2-dll==2.32.0
